<a href="https://colab.research.google.com/github/axshay007/Stage_E_assignment_sol/blob/main/HAMOYE_STAGE_E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
dataframe = pd.read_csv('/content/Time_series_analysis_and_forecast_DATASET.csv')

In [35]:
dataframe.head()

              FullDate  Tmax   SysLoad  GasPrice  ElecPrice
0  2010-09-01 00:00:00  15.8  1688.215      3.69     23.710
1  2010-09-01 01:00:00  15.8  1669.195      3.69     22.635
2  2010-09-01 02:00:00  15.8  1491.980      3.69     22.565
3  2010-09-01 03:00:00  15.8  1330.760      3.69     18.910
4  2010-09-01 04:00:00  15.8  1247.940      3.69     18.030

In [36]:
DataFrame=dataframe.iloc[:,[0,4]]
DataFrame

                  FullDate  ElecPrice
0      2010-09-01 00:00:00     23.710
1      2010-09-01 01:00:00     22.635
2      2010-09-01 02:00:00     22.565
3      2010-09-01 03:00:00     18.910
4      2010-09-01 04:00:00     18.030
...                    ...        ...
92011  2021-02-28 19:00:00    117.925
92012  2021-02-28 20:00:00     87.880
92013  2021-02-28 21:00:00     62.060
92014  2021-02-28 22:00:00     62.000
92015  2021-02-28 23:00:00     62.955

[92016 rows x 2 columns]

In [37]:
DataFrame.iloc[0:20866,:]

                  FullDate  ElecPrice
0      2010-09-01 00:00:00     23.710
1      2010-09-01 01:00:00     22.635
2      2010-09-01 02:00:00     22.565
3      2010-09-01 03:00:00     18.910
4      2010-09-01 04:00:00     18.030
...                    ...        ...
20861  2013-01-17 05:00:00     45.140
20862  2013-01-17 06:00:00     44.595
20863  2013-01-17 07:00:00     45.540
20864  2013-01-17 08:00:00     47.515
20865  2013-01-17 09:00:00     50.870

[20866 rows x 2 columns]

In [38]:
DataFrame.rename(columns = {'FullDate':'ds'}, inplace = True)
DataFrame.rename(columns = {'ElecPrice':'y'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [39]:
DataFrame.iloc[0:20866,:]

                        ds       y
0      2010-09-01 00:00:00  23.710
1      2010-09-01 01:00:00  22.635
2      2010-09-01 02:00:00  22.565
3      2010-09-01 03:00:00  18.910
4      2010-09-01 04:00:00  18.030
...                    ...     ...
20861  2013-01-17 05:00:00  45.140
20862  2013-01-17 06:00:00  44.595
20863  2013-01-17 07:00:00  45.540
20864  2013-01-17 08:00:00  47.515
20865  2013-01-17 09:00:00  50.870

[20866 rows x 2 columns]

In [40]:
DF1=DataFrame['ds'].str[:11]

In [41]:
data=pd.DataFrame(DF1)
data

                ds
0      2010-09-01
1      2010-09-01
2      2010-09-01
3      2010-09-01
4      2010-09-01
...            ...
92011  2021-02-28
92012  2021-02-28
92013  2021-02-28
92014  2021-02-28
92015  2021-02-28

[92016 rows x 1 columns]

In [42]:
DF1['ds']=data['ds'].values

In [43]:
DF1['ds']

array(['2010-09-01 ', '2010-09-01 ', '2010-09-01 ', ..., '2021-02-28 ',
       '2021-02-28 ', '2021-02-28 '], dtype=object)

In [44]:
DF1

0                                              2010-09-01
1                                              2010-09-01
2                                              2010-09-01
3                                              2010-09-01
4                                              2010-09-01
                               ...
92012                                          2021-02-28
92013                                          2021-02-28
92014                                          2021-02-28
92015                                          2021-02-28
ds       [2010-09-01 , 2010-09-01 , 2010-09-01 , 2010-0...
Name: ds, Length: 92017, dtype: object

In [46]:
ds1=DF.iloc[0:20866,:]

In [47]:
ds1

                ds       y
0      2010-09-01   23.710
1      2010-09-01   22.635
2      2010-09-01   22.565
3      2010-09-01   18.910
4      2010-09-01   18.030
...            ...     ...
20861  2013-01-17   45.140
20862  2013-01-17   44.595
20863  2013-01-17   45.540
20864  2013-01-17   47.515
20865  2013-01-17   50.870

[20866 rows x 2 columns]

In [ ]:
display(ds.iloc[2757])

In [ ]:
train_=ds.iloc[:2757,:]
test=ds.iloc[2757:,:]

In [ ]:
train_

In [ ]:
train

In [ ]:
from datetime import datetime

train['ds'] = pd.to_datetime(train.ds)

train.set_index('ds', inplace = True)

In [ ]:
train

In [ ]:
train_daily = train.resample('D').sum()

In [ ]:
train_daily

In [ ]:
from prophet import Prophet

In [ ]:
model = Prophet()

In [ ]:
model.fit(train_)

In [ ]:
future = model.make_future_dataframe(periods=20, freq='D')

In [ ]:
forecast = model.predict(future)

In [ ]:
forecast.head(10)

In [ ]:
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper', 'trend', 'trend_lower', 'trend_upper']]

In [ ]:
model.plot(forecast)
plt.show()

In [ ]:
import numpy as np

def mape(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    return np.mean(np.abs((actual - pred) / actual)) * 100

In [ ]:
actual = test
pred = forecast['yhat'][:2757]

mape(actual, pred)

In [ ]:
plt.plot(DF_daily.index,DF_daily.y)

In [ ]:
plt.grid()